<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="meta.html :: copy">

</head>
<body>
<nav th:include="header.html :: copy">
</nav>
<nav th:include="departments.html :: copy">
</nav>

<div class="section">
    <div class="container">
        <div class="text-center">
            <h4 class="title" th:inline="text">Hi [[${name}]],</h4>
            <h4>Your order: </h4>
        </div>
        <div th:include="order.html :: copy"></div>
        <div>
            <center><h4>Your items will be shipped immediately</h4></center>
        </div>
        <div>
            <h5>adress</h5>
        </div>

        <br>
        <br>
        <div >
            <a href="/" style="float:left" class="primary-btn order-submit">Go to main page</a>
        </div>
        <span>
            <a href="#" style="float:right" class="primary-btn order-submit">Unsubscribe</a>
        </span>
        <br>
        <br>
        <br>
        <div style="float:right;height:200px">
            Let us know your experience<br><br>

            Best regards,<br>Amazon - The Beginning<br>CEO and
            Founder<br>
        </div>




    </div>
</div>
</body>
</html>